@font-face {
  font-family: "itfOmniaNaskh";
  src: url("itfOmniaNaskh.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

body, html, .salla-theme, h1, h2, h3, h4, h5, h6, p, span, a, div, strong, b {
  font-family: "itfOmniaNaskh", cursive !important;
  text-align: center;
}
